@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
$brand-blue: #1E54F6;


body {
  background: white;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

textarea, input, button {
  outline: none;
}

.chatbar {
  background: white;
  border-top: 1px solid blue;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  background-color: #F4F6F8;
  border:none;
  border-radius: 1px;
}


::-webkit-chatbar-message-placeholder {
    color: black;
    opacity: 1;
}

::-moz-placeholder {
    color: black;
    opacity: 1;
}

::-ms-placeholder {
    color: black;
    opacity: 1;
}

::placeholder {
    color: black;
    opacity: 1;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
  color: blue;
}

.navbar {
  background: black;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  color: white;

  .navbar-brand {
    color: inherit;
    display: block;
    float: left;
    font-weight: 700;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    text-decoration: none;
    letter-spacing: 3px;
    text-shadow:
      -1px -1px 0 blue,
      1px -1px 0 blue,
      -1px 1px 0 blue,
      1px 1px 0 blue;
  }

  .client-counter {
    color: inherit;
    display: block;
    float: right;
    font-weight: 400;
    font-size: 15px;
    height: 60px;
    line-height: 60px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    text-decoration: none;
  }
}
